/* Responsive layout - when the screen is less than 700px wide, make the two columns
stack on top of each other instead of next to each other 
@media (max-width: 1000px) {
  #portfolio {   
    flex-direction: column;
    background-color: #788a63;
}}

/*
Colours:
Pink        #d4e1dc
Lightblue   #d48ea0
Lightgreen  #a6be7e
Yellow      #e0be67
Lightgrey   #ceccc9
Brown       #d27f6b
Darkgreen   #798a63
Darkbrown   #c17f6c
*/

@font-face {
    font-family: 'allison';
    src: url('Allison_Script.otf');
}
* {
    box-sizing: border-box;
  }
html {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
body {
    position: absolute;
    text-align: center;
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 10px;
    padding-top: 5px;
    margin: 0px;
    max-width: 1000px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    height: auto;
    user-select: none;
}

.card {
    width: 100%;
    height: 550px;
}
.rightcolumn {
    float: right;
    width: 50%;
    padding-left: 20px;
}
.leftcolumn {
    float: left;
    width: 50%;
}
h2 {
  font-size: 80px;
  font-family: 'allison', Arial, Helvetica, sans-serif;
  color: #e0be67;
}
h3 {
  font-family: 'allison', Arial, Helvetica, sans-serif;
  color: #e0be67;
  font-size: 50px;
  padding: 0;
  margin: 0;
}
p {
  font-size: 20px;
  color: black;
  font-style: oblique;
}

#topnav {
    top: 0px;
    z-index: +1;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    list-style-type: none;
    border-radius: 50px;
    opacity: 50%;
    width: 100%;
    background-color: #ceccc9;
}
li a {
    display: block;
    color: #ffffff;
    transform: translateY(-20%);
    padding: 0px 20px;
    font-size: 20px;
    text-decoration: none;
}
li {
    display: inline-block;
}
li a:hover {
    background-color: #788a63;
    color: white;
    border-radius: 50px;
}
li a.active {
    background-color: #D17F6B;
}


#intro {
    position: relative;
    top: 150px;
    font-family: 'allison', Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: #e0be67;
    padding-top: 300px;
    margin: 20px;
    font-size: 100px;
}


.icon-bar1 {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
/* Style the icon bar links */
.icon-bar1 a {
padding: 20px;
transition: all 0.3s ease;
color: #ceccc9;
font-size: 20px;
display: inline-block;
width: 10px;
}




#profile {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 60%);
}
#homeplants {
  position: relative;
  top: 50%;
  width: 10px;
}
#elegantline {
  width: 100%;
  height: 250px;
  z-index: -1;
}


.timeline {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    max-width: 900px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    border-radius: 80px 80px 80px 80px;
    width: 6px;
    background-color:#f1f1f1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 0px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
/* circles */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -16px;
    background-color: white;
    border: 3px solid #e0be67;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
/* place of containers */
.left {
    left: 0;
}
.right {
    left: 50%;
}
/* arrows */
.left::before {
    content: " ";
    height: 0;
    opacity: 50%;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #ceccc9;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ceccc9;
}
.right::before {
    content: " ";
    height: 0;
    opacity: 50%;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #ceccc9;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ceccc9 transparent transparent;
 }
 /* fix circle on the right side */
 .right::after {
    left: -16px;
}
.content {
    padding: 0px 0px;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 10px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 5px;
}
/* Make sure that all arrows are pointing leftwards */
.container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.portfolioblocks {
  position: relative;
  width: 90%;
  left: 20%;
}

.linknav {
  list-style-type: none;
  width: 100%;
  opacity: 90%;
}
.linknav li a {
  display: block;
  color: #788a63;
  transform: translateY(-20%);
  padding: 0px 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  width: 180px;
}
.linknav li {
  display: inline-block;
}
.linknav li a:hover {
  background-color: #788a63;
  color: white;
  border-radius: 100px;
}
.linknav li a.active {
  background-color: #D17F6B;
}


#plants {
  width: 400px;
  margin: 70px;
}


/* Fixed/sticky icon bar (vertically aligned 50% 
from the top of the screen) */
.icon-bar2 {
  position: relative;
  bottom: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
/* Style the icon bar links */
.icon-bar2 a {
padding: 16px;
transition: all 0.3s ease;
color: white;
font-size: 20px;
display: inline-block;
width: 50px;
}
.icon-bar2 a:hover {
background-color: #000;
}
.instagram2 {
background:  #e0be67;
border-radius: 40%;
}  
.spotify2 {
background: #798b64;
border-radius: 40%;
}
.linkedin2 {
background: #e29987;
border-radius: 40%;
}


#footer {
  padding: 10px;
}
#copyrighttext {
  font-size: 10px;
}


/*#musicplayer { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 200px;   
}
#playpause {
    position: absolute;
    left: 0px;
    width: 40px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}
#line { 
    position: absolute;
    height: 3px;
    left: 60px;
    top: 40%;
    width: 400px;
    background-color: #788a63;
    border-radius: 80px 80px 80px 80px;
}
#bolletje {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 40%;
    transform: translateY(-50%);
    background-color: #788a63;
    border-radius: 50%;
    cursor: pointer;
}
#progress {
    border-radius: 80px 0px 0px 80px;
    background-color: #788a63;
    height: 5px;
}*/



/* LINK TO AI & PS*/
#bodyPic {
  position: absolute;
  text-align: center;
  background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 10px;
  margin: 0px;
  max-width: 1000px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  height: auto;
  user-select: none;
}
#backbutton {
  position: absolute;
  top: 10px;
  left: 20px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Allison', Arial, Helvetica, sans-serif;
  color: #e0be67;
}

/* Create four equal columns that sits next to each other */
.piccolumn {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}
.piccolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  image-orientation: from-image;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .piccolumn {
    flex: 50%;
    max-width: 50%;
  }}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .piccolumn {
    flex: 100%;
    max-width: 100%;
  }}