html {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body {
    position: absolute;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 0px;
    max-width: 1000px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    height: 2000px;
    user-select: none;
}
#intro {
    position: absolute;
    padding-top: 100px;
    left: 60px;
    font-size: 40px;
}
#pfp {
    width: 300px;
    position: absolute;
    right: 0px;
    top: 10px;
    border-radius: 80px 0px 0px 80px;
}
#bubble1 {
    position: absolute;
    top: 350px;
    width: 100px;
    height: 250px;
    background-color: rosybrown;
    border-radius: 0px 80px 80px 0px;
    transition-duration: 500ms;
}
#bubble1:hover {
    width: 500px; 
}

#bubble2 {
    position: absolute;
    top: 1000px;
    width: 100px;
    height: 250px;
    background-color: rosybrown;
    border-radius: 80px 0px 0px 80px;
    transition-duration: 500ms;
    right: 0px;
}
#bubble2:hover {
    width: 500px; 
}
#musicplayer { 
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 40px;
    }
#playpause {
    position: absolute;
    width: 40px;
    cursor: pointer;
}
#line { 
    position: absolute;
    left: 60px;
    height: 3px;
    width: 200px;
    background-color: black;
    border-radius: 80px 80px 80px 80px;

    top: 50%;
}
#bolletje {
    left: 0%;
    top: 50%;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
#progress {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 80px 0px 0px 80px;
    left: 0%;
    background-color: black;
    height: 5px;
}
#musictext {
    position: absolute;
    top: 0px;
    transform: translateY(-110%);
    font-size: 25px;
}